.loader {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px dashed rgb(224, 224, 224);
	animation: rotate 2s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg) scale(1);
	}
	to {
		transform: rotate(360deg) scale(1.4);
	}
}
