@import "../../../styles/App.scss";

.appBtn {
	padding: 5px 15px;
	color: $text-color;
	font-size: 14px;
	font-weight: bold;
	background-color: $dollar;
	border: 1px solid $dollar;
	cursor: pointer;
	border-radius: 1rem;
}

.appBtnPrimary {
	padding: 5px 15px;
	color: $text-color;
	font-size: 14px;
	font-weight: bold;
	background-color: $color-3;
	border: 1px solid $color-3;
	cursor: pointer;
	border-radius: 1rem;
}
