@import '../../styles/App.scss';

.header {
	background-color: $color-1;
	padding: 1rem 0rem;
	margin-bottom: 1.5rem;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		display: flex;
		align-items: center;

		a:not(:last-child) {
			margin-right: 1rem;
		}
	}
}